<!-- start countdown section -->
<section class="no-padding bg-extra-light-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-12 full-screen no-padding cover-background sm-display-none" style="background-image:url('https://firebasestorage.googleapis.com/v0/b/n3obl0g.appspot.com/o/assets%2Fcoming-soon-img1.jpg?alt=media&token=94b9bbd0-a1a4-477f-90af-1abda0e594c5');"></div>
            <div class="col-md-6 col-xs-12 full-screen bg-black no-padding">
                <div class="position-relative full-screen">
                    <div class="slider-typography text-center xs-overflow-auto">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle padding-three-all xs-padding-15px-all">
                                <div class="margin-nine-bottom md-margin-50px-bottom xs-margin-25px-bottom"><img class="xs-height-50px" src="https://firebasestorage.googleapis.com/v0/b/n3obl0g.appspot.com/o/assets%2Flogo-white.png?alt=media&token=69ff8547-3e77-43e1-942f-b02c8b135fd4" data-rjs="../../../assets/images/logo-white@2x.png" alt="Pofo" /></div>
                                <h6 class="font-weight-300 text-white margin-40px-bottom xs-margin-25px-bottom">Get Started with BlgPrss</h6>
                                <div data-enddate="2018/12/14 12:00:00" class="countdown text-center counter-box-3 margin-nine-bottom"></div>
                                <div class="bg-extra-dark-gray padding-eight-all border-radius-6 width-70 md-width-80 xs-width-100 center-col xs-padding-30px-all">
                                    <h6 class="font-weight-300 text-white margin-20px-bottom xs-margin-15px-bottom">Sign in with a social media account</h6>
                                    <p class="text-medium width-70 center-col margin-40px-bottom xs-width-100 xs-margin-15px-bottom">Identifying yourself with us really should not be harder.</p>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-10 col-xs-10 center-col text-center elements-social social-icon-style-2">
                                            <ul class="medium-icon">
                                                <li><a class="google" title="Sign in with Google" (click)="auth.googleLogin()" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a class="facebook" title="Sign in with Facebook" (click)="auth.FBLogin()"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a class="twitter" title="Sign in with Twitter" (click)="auth.twitterLogin()" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="text-center social-icon-style-10 margin-eight-top xs-margin-30px-top">
                                    <ul class="large-icon no-margin-bottom">
                                        <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i><span></span></a></li>
                                        <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                                        <li><a class="google text-white" href="https://plus.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i><span></span></a></li>
                                        <li><a class="dribbble text-white" href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble"></i><span></span></a></li>
                                        <li><a class="linkedin text-white" href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i><span></span></a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end countdown section -->