/* You can add global styles to this file, and also import other style files */

// Import Quill css...
@import url('../node_modules/quill/dist/quill.snow.css');
.z-head {
    padding: 10vh;
    height: 30vh;
}

a {
    cursor: pointer;
}

.cat-img {
    height: 300px;
    image-rendering: optimizeQuality;
}

// $peter-river:#3498db;
$peter-river:#ff214f;

app-loader, app-flipper {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    background:$peter-river;
    z-index: 99;
}

.mx-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}