<div class="header-searchbar">
    <a (click)="show()" class="header-search-form text-white"><i class="fas fa-search search-button"></i></a>

    <div [ngClass]="{'mfp-hide': !visible}">
        <div class="mfp-bg mfp-ready"></div>

        <div class="mfp-wrap mfp-auto-cursor mfp-fade mfp-ready" tabindex="-1"><div class="mfp-container mfp-inline-holder"><div class="mfp-content search-popup"><form id="search-header" method="post" action="http://www.themezaa.com/html/pofo/search-result.html" name="search-header" class="search-form-result">

            <div class="search-form position-relative">
                <button (click)="searchInput.value = ''" class="fas fa-times close-search search-button"></button>
                <input #searchInput (keyup)="handleSearch(searchInput.value)" type="text" name="search" class="search-input" placeholder="Enter your keywords..." autocomplete="off">
        
                <div><img class="float-right width-20" src="https://firebasestorage.googleapis.com/v0/b/n3obl0g.appspot.com/o/assets%2Fsearch%2Falgolia.png?alt=media&token=6237d066-1604-4ff9-9a2a-1234a59c6c69" alt="search by Algolia"></div> 
            </div>
            <div class="row margin-30px-top font-weight-600 alt-font">
                <ul class="no-padding list-style-6">
                    <li *ngFor="let hit of hits">
                        
                        <h5>
                            <a (click)="hide()" [routerLink]="[ '/', 'post', hit.id ]" [innerHtml]="'📰  ' + hit.title">
                                <span>📰  </span>
                                <span></span>
                                <!-- <span [innerHtml]="hit.text"></span> -->
                            </a>
                        </h5>
                    </li>
                </ul>
            </div>
            
        </form></div></div><button title="Close (Esc)" type="button" class="mfp-close" (click)="hide()">×</button></div>

    </div>

</div>